<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="../../css/style.css" type="text/css">
        <script src="../../practice.js"></script>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            {{about}}
            
        </div>
        {{>footer}}
    </body>
</html>