<html>
    <head>
        <title>Express.js</title>
        <link rel="stylesheet" href="../../css/style.css" type="text/css">
    </head>
    <body>
        
        <div class="main-content">
            {{>header}}
            <p>Use this site to get your weather</p>
            <form>
                <input type="text" placeholder="Location" class="input">
                <button class="btn">Search</button>
            </form>
            <p class="result"></p>
        </div>
        {{>footer}}
        
        <script src="../../JS/web.js"></script>
    </body>
</html>